#map {
	position:relative;
}
#map svg path{
	fill: transparent;
	stroke: white;
	cursor:pointer;
	transition:0.1s;
}
#map svg path#passive{
	stroke-width: 20px;
	stroke-dasharray: 27px,44px;
	stroke: rgba(255, 255, 255, 0.6);
	cursor:default;
}
#map svg path#sevan{
	fill: rgba(15, 130, 203, 1)!important;
	stroke: transparent;
}
#map svg path#sevan:hover{
	fill: rgb(14, 154, 194);
	stroke: transparent;
}
#map svg path#passive:hover{
	fill:transparent!important;
}
#map svg path:hover{
	fill: rgba(255, 255, 255, 0.2)!important;
}
#map span{
	display:none;
	padding: 4px 15px;
	color: #FFFFFF;
	font-size: 14px;
	position: absolute;
	z-index: 1000;
	white-space: nowrap;
	border-radius: 5px;
	border: 2px solid #FFFFFF;
	background: rgb(110, 110, 110);
	cursor:pointer;
}
#map span:hover{
	display:inline!important;
}
.selected_state{
	display:inline!important;
}
.lori{
	right: 480px;
	bottom: 456px;
}
.shirak{
	right: 588px;
	top: 68px;
}
.tavush{
	right: 348px;
	top: 95px;
}
.aragatsotn{
	top: 208px;
	left: 57px;
}
.kotayk{
	left: 188px;
	top: 218px;
}
.gegharkunik{
	right: 285px;
	bottom: 259px;
}
.armavir{
	left: 54px;
	top: 268px;
}
.yerevan{
	left: 160px;
	top: 281px;
}
.ararat{
	left: 212px;
	bottom: 212px;
}
.vayots-dzor{
	right: 278px;
	bottom: 179px;
}
.syunik{
	right: 144px;
	bottom: 76px;
}
